@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5rem;
  font-family: Poppins;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */

.actualpage {
  text-decoration: underline;
  text-decoration-color: white;
}

li,
a,
button {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(256, 106, 0);
  height: 150px;
}
header img {
  object-fit: cover;
  height: 70px;
}

.logo {
  cursor: pointer;
}
.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  transition: all 0.3s ease-out 0s;
}
.navlinks li a:hover {
  color: grey;
}
button {
  padding: 9px 25px;
  background-color: rgb(256, 106, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}


/* footer */
.footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid white;
  margin-top: 3px;
  margin-bottom: 4px;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
.footerform {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.footerform .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}
.footerform input {
  width: 100%;
  font-family: Poppins;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}
.footerform button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid white;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
}
.logo2 img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
/* content */
.content {
  flex: 1 0 auto;
}
.about-header{
  display: flex;
  background-image: url(../assets/WWA1_0.jpg);
  background-repeat: no-repeat;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-size: cover;
}
.about-header h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history{
  margin-bottom: 2rem;
}
.history h2{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(256, 130, 0);
    color: white;
    font-weight: 400;
}
.history h4{
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  background-color: rgb(256, 130, 0);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.history-text{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}
.history p{
  margin-bottom: 0.5rem;
}
.extras {
  display: flex;
  justify-content: center;
}
.extras-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/extraheader.jpg);
  width: 100%;
  background-size: cover;
  height: 500px;
  color: white;
}
.extras-titles h2{
  display: flex;
  justify-content: center;
  background-color: rgb(256, 130, 0);
  color: white;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.extras-titles h4{
  display: flex;
  justify-content: center;
  background-color: rgb(256, 130, 0);
  color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.extras-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
}
.hiring h4{
background-color: rgb(256, 106, 0);
color: white;
padding: 1rem 1rem 1rem 1rem;
}
.franchising h4{
  background-color: rgb(256, 106, 0);
  color: white;
  padding: 1rem 1rem 1rem 1rem;
}
.investors h4{
  background-color: rgb(256, 106, 0);
  color: white;
  padding: 1rem 1rem 1rem 1rem;
}
.hiring p{
background-color: rgb(256, 130, 0);
color: white;
padding: 1rem 2rem 1rem 2rem;
}
.franchising p{
  background-color: rgb(256, 130, 0);
color: white;
padding: 1rem 2rem 1rem 2rem;
}
.investors p{
  background-color: rgb(256, 130, 0);
  color: white;
  padding: 1rem 2rem 1rem 2rem;
}
.faq-header h1{
  background-color: rgb(256, 130, 0);
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
.faq-header h4{
  background-color: rgb(256,130,0);
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.faq{
  display: flex;
  justify-content: center;
}
:root {

}
*, *::before, *::after {
  box-sizing: border-box;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion1, 
.accordion2, 
.accordion3 {
  border: 1px solid rgb(256, 106, 0);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 70%;
  margin-bottom: 2rem;
}

.tab__label,
.tab__close {
  display: flex;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(256, 106, 0);
  color: white;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}


/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}




/*
.franchising h2{
  background-color: rgb(256, 130, 0);
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
}
.franchising h4{
  background-color: rgb(256, 130, 0);
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.franchising {
  background-image: url(../assets/franchising.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 700px;
  height: 450px;  
}
.investors h2{
  background-color: rgb(256, 130, 0);
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
}
.investors h4{
  background-color: rgb(256, 130, 0);
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.investors {
background-image: url(../assets/money.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 700px;
height: 450px;
}

*/