@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5rem;
  font-family: Poppins;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */

.actualpage {
  text-decoration: underline;
  text-decoration-color: white;
}

li,
a,
button {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(256, 106, 0);
  height: 150px;
}
header img {
  object-fit: cover;
  height: 70px;
}

.logo {
  cursor: pointer;
}
.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  transition: all 0.3s ease-out 0s;
}
.navlinks li a:hover {
  color: grey;
}
button {
  padding: 9px 25px;
  background-color: rgb(256, 106, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

/* footer */
.footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid white;
  margin-top: 3px;
  margin-bottom: 4px;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
.footerform {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.footerform .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}
.footerform input {
  width: 100%;
  font-family: Poppins;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}
.footerform button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid white;
  margin: 20px auto;
}
.copyright {
  text-align: center;
}
.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
}
.logo2 img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
/* content */
content {
  flex: 1 0 auto;
}
.contact-box {
  background-color: rgb(256, 106, 0);
  display: flex;
  flex-basis: 80%;
  margin-bottom: 80px;
  margin-left: 3rem;
  margin-right: 3rem;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  color: white;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: rgb(256, 130, 0);
  color: white;
}
h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 1rem;
}
.container p {
  margin-bottom: 40px;
  margin-left: 1rem;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  background-color: rgb(256, 106, 0);
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding-bottom: 5px;
  font-family: Poppins;
}
textarea {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-family: Poppins;
  resize: none;
  box-sizing: border-box;
}
label {
  margin-bottom: 6px;
  display: block;
}

button {
  background-color: white;
  width: 100px;
  border: none;
  outline: none;
  color: rgb(256, 106, 0);
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
}
.contact-left h3 {
  color: white;
  font-weight: 600px;
  margin-bottom: 30px;
}
.contact-right h3 {
  color: white;
  font-weight: 600px;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}
