
/* content */
main {
  flex: 1 0 auto;
}
.features-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  background-image: url(../assets/farm.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 437px;
}
.features-title h2{
background-color: var(--orange1);
color: var(--color1);
display: flex;
justify-content: center;
align-items: center;
padding-top: 1rem;
padding-bottom: 1rem;
font-weight: 600;
}
.features-title h4{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  font-weight: 600;
}
.features-text{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.bread-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/bread.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  color: var(--color2);
}
.bread-title h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange1);
  color: var(--color1);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.bread-title h4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange1);
  color: var(--color1);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.bread-text p{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
}
.tomatoes-lettuce-image{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../assets/tomatoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 2rem;
}
.tomatoes-lettuce-title h2{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
.tomatoes-lettuce-title h4{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.tomatoes-lettuce-text p{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
}
.cheese-image{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  background-image: url(../assets/cheese.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 2rem;
}
.cheese-title h2{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
.cheese-title h4{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.cheese-text p{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 0.5rem;
}

.meat-image{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  background-image: url(../assets/meat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 2rem;
}
.meat-title h2{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
.meat-title h4{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.meat-text p{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
}
.potatoes-image{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  background-image: url(../assets/potatoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 2rem;
}
.potatoes-title h2{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
.potatoes-title h4{
  background-color: var(--orange1);
  color: var(--color1);
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.potatoes-text p{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
}

