
.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}
.menu-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  --row-height: 300px;
  grid-auto-rows: repeat(var(--row-height));
  gap: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-special{
  grid-column: span 2;
  background-image: url(../assets/promos.jpg);
  display: flex;
  background-size: cover;
  width: 1400px;
  height: 700px;  
  justify-content: center;
}
.container-special a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.container-special a:hover{
  transform: scale(150%);
  transition: all 0.3s ease-out 0s;
  color: white;
}

.container1{
  background-image: url(../assets/breakfast.jpg);
  display: flex;
  background-size: cover;
  width: 700px;
  height: 700px;  
  justify-content: center;
}
.container1 a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.container1 a:hover{
  transform: scale(150%);
  transition: all 0.3s ease-out 0s;
  color: white;
}
.container2{
background-image: url(../assets/burgers.jpg);
display: flex;
  background-size: cover;
  width: 700px;
  height: 700px;  
  justify-content: center;
}
.container2 a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.container2 a:hover{
  transform: scale(150%);
  transition: all 0.3s ease-out 0s;
  color: white;
}
.container3{
background-image: url(../assets/friescover.jpg);
display: flex;
  background-size: cover;
  width: 700px;
  height: 700px;  
  justify-content: center;
}
.container3 a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.container3 a:hover{
  transform: scale(150%);
  transition: all 0.3s ease-out 0s;
  color: white;
}
.container4{
background-image: url(../assets/drinks.jpg);
display: flex;
  background-size: cover;
  width: 700px;
  height: 700px;  
  justify-content: center;
}
.container4 a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.container4 a:hover{
  transform: scale(150%);
  transition: all 0.3s ease-out 0s;
  color: white;
}